<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>WApplicationId</Key>
            <Value>1f0ccbf7-bcac-4779-aacf-15e63d4ab923</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>e4487080-07e5-4855-899a-a5ba5df17371</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Weight>1</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>244103</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>244122</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>DefaultNoUserPage_MainBottom_One</Id>
        <Name>adMediator_DefaultNoUserPage_MainBottom_One</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>244103</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>244122</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>adMediator_HummingbirdAnimeDetailsPage_MainTop_One</Id>
        <Name>adMediator_HummingbirdAnimeDetailsPage_MainTop_One</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>244103</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>244122</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>adMediator_HummingbirdAnimeDetailsPage_MainBottom_One</Id>
        <Name>adMediator_HummingbirdAnimeDetailsPage_MainBottom_One</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>244103</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>244122</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>adMediator_SearchPage_MainBottom_One</Id>
        <Name>adMediator_SearchPage_MainBottom_One</Name>
      </AdControlConfiguration>
      <AdControlConfiguration>
        <AdAdapters>
          <AdAdapterInfo>
            <Metadata>
              <Property>
                <Key>WAdUnitId</Key>
                <Value>244103</Value>
              </Property>
              <Property>
                <Key>MAdUnitId</Key>
                <Value>244122</Value>
              </Property>
            </Metadata>
            <Name>MicrosoftAdvertising</Name>
          </AdAdapterInfo>
        </AdAdapters>
        <Id>MainPage_MainTop_One</Id>
        <Name>adMediator_MainPage_MainTop_One</Name>
      </AdControlConfiguration>
    </AdControlConfigurations>
  </BaseConfiguration>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>1.0.3</SchemaVersion>
  <UpdatedDateTime>2015-03-03T00:58:35.9830809Z</UpdatedDateTime>
  <UseRoundRobin>true</UseRoundRobin>
</AdMediatorConfiguration>